*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    background: #111;
}


.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), transparent), url(images/firstbg\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    position:relative;
    text-align: center;
}

.header:before{
    content:'';
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}

.header .header-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    text-align: center;


}

.header-text h1{
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-style: italic;
}

.header-text p{
    color:#fff;
    font-size: 1.2em;
}

.learnBtn{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}

@media(max-width: 700px){
    .header-text h1{
        font-size: 3em;
    }
    

    .header-text p{
        font-size: 0.9em;
        padding: 15px;
    }

}

/* SECOND SECTION */


.coral-container{
    position:relative;
    width: 100%;
    padding:20px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}



.coral-container img{
    width: 550px;
}

.coral-content{
    width: 30%;
    color: #fff;
    opacity:0;
    transform: translateY(20px);
    transition: 1.5s all ease-in-out;
    text-align:end;

}

.coral-appear{
    opacity: 1;
    transform: translateY(0px);
}

.coral-content h1{
    padding-bottom: 20px;
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 500;
}

.coral-content p{
    line-height: 30px;
    font-size: 18px;
    text-align: end;
}

.coral-Btn{
    position:relative;
    top: 30px;
    font-size:20px;
    letter-spacing: 2;
    padding: 10px 30px;
    background: #111;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.coral-Btn:hover{
    cursor: pointer;
}

@media(max-width: 767px){
    .coral-container{
        flex-direction: column;
    }

    .coral-container img{
       width: 350px;
    }
    
    .coral-content{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0;
    
    }

    
    .coral-content h1{
        font-size: 40px;
    }

    .coral-content p{
        text-align: center;
        font-size: 15px;
        padding: 15px;
    }

}

/* END */





/* IMG SECTION2 */

.img-section2{
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-quang-nguyen-vinh-2131904.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    text-align: center;
}





.img-section2:before{
    content:'';
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(to bottom,#111,transparent);
} 


.img-section2:after{
    content:'';
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
} 

/* END */


/* FISH CONTAINER */

.fish-container{
    position: relative;
    width: 100%;
    padding:100px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.fish-container img{
    width: 550px;
}

.fish-content{
    width: 30%;
    color:#fff;
    opacity:0;
    transform: translateY(20px);
    transition: 1.5s all ease-in-out;
    text-align: start;
}

.fish-appear{
    opacity: 1;
    transform: translateY(0px);
}

.fish-content h1{
    padding-bottom: 20px;
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 500;
}

.fish-content p{
    line-height: 30px;
    font-size: 18px;
}

.fish-Btn{
    position:relative;
    top: 30px;
    /* left: 60%; */
    font-size:20px;
    letter-spacing: 2;
    padding: 10px 30px;
    background: #111;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.fish-Btn:hover{
    cursor: pointer;
}

@media(max-width: 767px){
    .fish-container{
        flex-direction: column;
    }

    .fish-container img{
       width: 350px;
    }
    
    .fish-content{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0;
    
    }

    
    .fish-content h1{
        font-size: 40px;
    }

    .fish-content p{
        text-align: center;
        font-size: 15px;
        padding: 15px;
    }


}





/* END */


/* IMG SECTION */

.img-section{
    width: 100%;
    height: 100vh;
    background-image: url(images/firstbg\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    text-align: center;
}





.img-section:before{
    content:'';
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(to bottom,#111,transparent);
} 


.img-section:after{
    content:'';
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
} 

/* END */
